@import 'breakpoints';
@import url('satoshi.css');


html, body {margin: 0; height: 100%; overflow: hidden; background-color: #000000;}
.text-white{
    color: white;
}
.wrapper{
    background-color: #000000;
    background-image:  linear-gradient( rgba(29,29,29,0.8) 1.1px, transparent 1.1px), linear-gradient(to right, rgba(29,29,29,0.8) 1.1px, #000000 1.1px,);
    background-size: 19px 19px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    
    //border: thin solid green;
    @include xs{
        margin-top: 10vh;
        width: 95vw;
        height: 90vh;
    }

    @include md{
        margin-top: 10vh;
        width: 95vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.hero{
    //border: thin solid red;
    display: flex;
    flex-direction: column;
    justify-content: end;
    @include xs{
        width: 95vw;
        height: 40vh;
    }

    @include md{
        height: 90vh;
        padding-left: 2vw;
        width: 45vw;
    }
    
}

.text-wrapper{
    //border: thin solid blue;
    @include xs{
        height: auto;


    }
    @include md{
        height: auto;
    }
}



.name{

    @include xs{
        
        font-size: 3.5rem;
        margin-top: 0.5em;
        padding-right: 1rem;
        margin-left: -0.1em;
    }
    @include md{
        font-size: 5vw;
        padding-right: 1rem;
        margin-left: -0.1em;
    }
}

.surname{

    @include xs{
        
        font-size: 4rem;
        margin-top: 0.5em;
        padding-right: 1rem;
        margin-left: -0.1em;
    }
    @include md{
        font-size: 6vw;
        padding-right: 1rem;
        margin-left: -0.1em;
    }
}

.job-title{

    @include xs{
        font-size: 1.75rem;
        padding-top: 0.75em;
        line-height: 1em;
        text-decoration: underline;
    }
    @include md{
        font-size: 2.25vw;
        //padding-top: 0.25em;
        text-decoration: underline;
    }
}

.sub-heading{
    font-size: 1.2rem;
}

.box-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.5rem;
}
.box{
    min-width: 5em;
    min-height: 2.5em;

    &.colored{
        border: solid thin orange;
        margin-bottom: -2.75em;
    }
    &.white{
        background-color: black;
        border: solid thin white;
        z-index: 2;
        margin-left: 0.5em;
    }
}

.cta-container{
    display: flex;
}

//animation
@keyframes changeLetter {
    0% {content: "";}
    2% {content: "P";}
    4% {content: "Pa";}
    6% {content: "Par";}
    8% {content: "Part";}
    10% {content: "Part-";}
    12% {content: "Part-T";}
    14% {content: "Part-Ti";}
    16% {content: "Part-Tim";}
    18% {content: "Part-Time";}      
    20% {content: "Part-Tim";}
    22% {content: "Part-Ti";}
    24% {content: "Part-T";}
    26% {content: "Part-";}
    28% {content: "Part";}
    30% {content: "Par";}
    32% {content: "Pa";}
    34% {content: "P";}
    36% {content: "";}
    38% {content: "I";}
    40% {content: "In";}
    42% {content: "Int";}
    44% {content: "Inte";}
    46% {content: "Inter";}
    48% {content: "Intern";}
    50% {content: "Interns";}
    52% {content: "Internsh";}
    54% {content: "Internshi";}
    56% {content: "Internship";}
    58% {content: "Internshi";}
    60% {content: "Internsh";}
    61% {content: "Interns";}
    62% {content: "Intern";}
    63% {content: "Inter";}
    64% {content: "Inte";}
    65% {content: "Int";}
    66% {content: "In";}
    67% {content: "I";}
    68% {content: "";}
    70% {content: "F";}
    72% {content: "Fr";}
    74% {content: "Fre";}
    76% {content: "Free";}
    78% {content: "Freel";}
    80% {content: "Freela";}
    82% {content: "Freelan";}
    84% {content: "Freelanc";}
    86% {content: "Freelance";}
    88% {content: "Freelanc";}
    90% {content: "Freelan";}
    92% {content: "Freela";}
    94% {content: "Freel";}
    96% {content: "Free";}
    97% {content: "Fre";}
    98% {content: "Fr";}
    99% {content: "F";}
    100% {content: "";}
  }
  @keyframes cursor {
    0% {content: "";}
    50% {content: "|";}
    100% {content: "";}
  }
  
  .letter-changer::before {
    animation: changeLetter 16s linear 1s infinite normal forwards;
    content: "";
  }
  .letter-changer::after {
    animation: cursor 0.6s linear 16.4s infinite normal forwards;
    content: "|";
  }
  .accessibility {
    width: 0; 
    display: inline-block; 
    overflow: hidden; 
    white-space:nowrap;
  }
//animation end

.card-container{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    //overflow-y: scroll;

    //border: thin solid yellow;
    @include xs{
        width: 95vw;
        height: 50vh;
    }

    @include md{
        width: 55vw;
        height: 100vh;
        
    }
    
}

.card {
    display: flex;
    justify-content: space-between;
    @include xs{
        position: absolute;
        bottom: 0;
        width: 95vw;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    @include md{
        position: absolute;
        bottom: 0;
        width: 53vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
    }

}

#card-1 {
    background-color: #00abc7;
    height: 90vh;
    z-index: 3;
    @include xs{
        margin-bottom: -70vh;
    }

    @include md{
        //padding-left: 2vw;
        margin-bottom: -60vh;
        
    }
    
}
#card-2 {
    background-color: #63aa73;
    height: 90vh;
    z-index: 2;
    @include xs{
        margin-bottom: -60vh;
    }

    @include md{
        //padding-left: 2vw;
        margin-bottom: -50vh;
        
    }
}
#card-3 {
    background-color: #fea521;
    height: 90vh;
    z-index: 1;
    @include xs{
        margin-bottom: -40vh;
    }

    @include md{
        margin-bottom: -20vh;
        
    }
}

.close{
    margin: 15px;
    padding: 10px;
    height: 30px;
    background-color: pink;
}